# 파이썬의 기본 데이터 구조인 list형

In [41]:
list1 = [1, 2, 3, 4, 5]
list1

[1, 2, 3, 4, 5]

In [42]:
list2 = ['a', 'b', 1, 2, 3]
list2

['a', 'b', 1, 2, 3]

In [43]:
len(list2)

5

In [44]:
# 1개 추가
list1.append(1)
list1

[1, 2, 3, 4, 5, 1]

In [45]:
# 마지막 뽑아내고 지우기
list1.pop()
list1

[1, 2, 3, 4, 5]

In [46]:
# 여러개 추가
list2.extend(['aa', 'bb', 'cc'])
list2

['a', 'b', 1, 2, 3, 'aa', 'bb', 'cc']

In [47]:
list2.remove('a')
list2

['b', 1, 2, 3, 'aa', 'bb', 'cc']

In [48]:
list1.remove(1)  # 같은 이름의 데이터 모두 삭제
list1

[2, 3, 4, 5]

In [49]:
py_book = ['파이썬 머신러닝 완벽 가이드', '파이썬 철저 입문', '파이썬 코딩 도장', 
           '파이썬 라이브러리를 활용한 머신러닝', '파이썬 프로그래밍']
py_book

['파이썬 머신러닝 완벽 가이드',
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍']

In [50]:
py_book.append('모두의 파이썬')
py_book

['파이썬 머신러닝 완벽 가이드',
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍',
 '모두의 파이썬']

In [51]:
py_book.append('파이썬으로 데이터 주무르기')
py_book

['파이썬 머신러닝 완벽 가이드',
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍',
 '모두의 파이썬',
 '파이썬으로 데이터 주무르기']

## 책 제목 옆에 가격 추가하기

In [52]:
py_book.insert(1, 342000)
py_book

['파이썬 머신러닝 완벽 가이드',
 342000,
 '파이썬 철저 입문',
 '파이썬 코딩 도장',
 '파이썬 라이브러리를 활용한 머신러닝',
 '파이썬 프로그래밍',
 '모두의 파이썬',
 '파이썬으로 데이터 주무르기']

In [53]:
py_book.insert(3, 24300)
py_book.insert(5, 22500)
py_book.insert(7, 27000)
py_book.insert(9, 25000)
py_book.insert(11, 10800)
py_book

['파이썬 머신러닝 완벽 가이드',
 342000,
 '파이썬 철저 입문',
 24300,
 '파이썬 코딩 도장',
 22500,
 '파이썬 라이브러리를 활용한 머신러닝',
 27000,
 '파이썬 프로그래밍',
 25000,
 '모두의 파이썬',
 10800,
 '파이썬으로 데이터 주무르기']

In [54]:
py_book.append(24700)
py_book

['파이썬 머신러닝 완벽 가이드',
 342000,
 '파이썬 철저 입문',
 24300,
 '파이썬 코딩 도장',
 22500,
 '파이썬 라이브러리를 활용한 머신러닝',
 27000,
 '파이썬 프로그래밍',
 25000,
 '모두의 파이썬',
 10800,
 '파이썬으로 데이터 주무르기',
 24700]

# 데이터를 저장하고 읽기

In [55]:
import pandas as pd

In [56]:
practice = pd.DataFrame({'날짜': [], '운동': [], '양': []})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [57]:
# add row
practice.loc[0] = ['20-3-1', '달리기', 1.]
practice

       날짜   운동    양
0  20-3-1  달리기  1.0

In [58]:
practice.loc[1] = ['20-3-2', '걷기', 1.]
practice.loc[2] = ['20-3-2', '달리기', 1.]
practice.loc[3] = ['20-3-2', '계단오르기', 1.]
practice

       날짜     운동    양
0  20-3-1    달리기  1.0
1  20-3-2     걷기  1.0
2  20-3-2    달리기  1.0
3  20-3-2  계단오르기  1.0

In [59]:
practice.loc[4] = ['20-3-3', '걷기', 1.5]
practice.loc[5] = ['20-3-3', '달리기', 1.]
practice

       날짜     운동    양
0  20-3-1    달리기  1.0
1  20-3-2     걷기  1.0
2  20-3-2    달리기  1.0
3  20-3-2  계단오르기  1.0
4  20-3-3     걷기  1.5
5  20-3-3    달리기  1.0

In [60]:
# save csv file to DataFrame variable
practice.to_csv('./data/practice.csv', encoding='utf-8')

In [61]:
# read csv file
pd.read_csv('./data/practice.csv', encoding='utf-8')
# index column까지 가져온다.

   Unnamed: 0      날짜     운동    양
0           0  20-3-1    달리기  1.0
1           1  20-3-2     걷기  1.0
2           2  20-3-2    달리기  1.0
3           3  20-3-2  계단오르기  1.0
4           4  20-3-3     걷기  1.5
5           5  20-3-3    달리기  1.0

In [62]:
# index_col을 이용하여 index 번호를 지정
pd.read_csv('./data/practice.csv', index_col=0, encoding='utf-8')

       날짜     운동    양
0  20-3-1    달리기  1.0
1  20-3-2     걷기  1.0
2  20-3-2    달리기  1.0
3  20-3-2  계단오르기  1.0
4  20-3-3     걷기  1.5
5  20-3-3    달리기  1.0

In [63]:
practice = pd.read_csv('./data/practice.csv', index_col=0, encoding='utf-8')
practice

       날짜     운동    양
0  20-3-1    달리기  1.0
1  20-3-2     걷기  1.0
2  20-3-2    달리기  1.0
3  20-3-2  계단오르기  1.0
4  20-3-3     걷기  1.5
5  20-3-3    달리기  1.0

In [64]:
practice.loc[6] = ['20-3-4', '걷기', 1.5]
practice.loc[7] = ['20-3-5', '달리기', 1.]
practice.loc[8] = ['20-3-6', '걷기', 2.5]
practice.loc[9] = ['20-3-6', '달리기', 0.5]
practice

       날짜     운동    양
0  20-3-1    달리기  1.0
1  20-3-2     걷기  1.0
2  20-3-2    달리기  1.0
3  20-3-2  계단오르기  1.0
4  20-3-3     걷기  1.5
5  20-3-3    달리기  1.0
6  20-3-4     걷기  1.5
7  20-3-5    달리기  1.0
8  20-3-6     걷기  2.5
9  20-3-6    달리기  0.5

## 데이터를 정리하는 마법 같은 단어 pivot_table

In [65]:
practice.pivot_table(index='운동')
# 양은 평균값

           양
운동
걷기     1.625
계단오르기  1.000
달리기    0.900

In [66]:
import numpy as np

In [67]:
practice.pivot_table(index='운동', aggfunc=np.sum)
# 양은 sum값

         양
운동
걷기     6.5
계단오르기  1.0
달리기    4.5

In [68]:
practice.pivot_table(index='운동', aggfunc=[np.sum, len])

       sum len
         양  날짜  양
운동
걷기     6.5   4  4
계단오르기  1.0   1  1
달리기    4.5   5  5

In [69]:
practice.pivot(index='날짜', columns='운동', values='양')
# practice.pivot('날짜', '운동', '양')

운동       걷기  계단오르기  달리기
날짜
20-3-1  NaN    NaN  1.0
20-3-2  1.0    1.0  1.0
20-3-3  1.5    NaN  1.0
20-3-4  1.5    NaN  NaN
20-3-5  NaN    NaN  1.0
20-3-6  2.5    NaN  0.5

In [84]:
prac_pivot = practice.pivot(index='날짜', columns='운동', values='양')
prac_pivot.fillna(0, inplace=True)  # NaN -> 0으로 채움, inplace=True : 원본을 덮어씀 , prac_pivot = prac_pivot.fillna(0)
prac_pivot

운동       걷기  계단오르기  달리기
날짜
20-3-1  0.0    0.0  1.0
20-3-2  1.0    1.0  1.0
20-3-3  1.5    0.0  1.0
20-3-4  1.5    0.0  0.0
20-3-5  0.0    0.0  1.0
20-3-6  2.5    0.0  0.5