# 네이버 api 간단히 사용해 보기

- https://developers.naver.com 에서 '서비스 api' 신청후 client_id, client_secret 를 할당 받음

In [1]:
import pandas as pd
import urllib.request

In [2]:
client_id = 'REP1TZBeRylwIL5uzjqy'
client_secret = 'aXWw3fsfEF'

In [3]:
encText = urllib.parse.quote('pinkwink')
url = "https://openapi.naver.com/v1/search/blog?query=" + encText # JSON 결과
url

'https://openapi.naver.com/v1/search/blog?query=pinkwink'

In [4]:
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)

In [5]:
response = urllib.request.urlopen(request)
print(response.getcode())  # 정상이면  return 200

200

In [6]:
type(response)

http.client.HTTPResponse

In [7]:
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

{
	"lastBuildDate":"Thu, 19 Jan 2023 21:33:58 +0900",
	"total":740,
	"start":1,
	"display":10,
	"items":[
		{
			"title":"핑크윙크 <b>PinkWink<\/b>가 핑크랩 PinkLAB을 만들었습니다.",
			"link":"https:\/\/pinkwink.kr\/1386",
			"description":"당시 강의에 대한 감상은 &quot;<b>PinkWink<\/b>가 토요일마다 강의를 합니다.&quot;라는 글로 한참 후인 2019년에... 그래서 오늘은 저 <b>PinkWink<\/b>가 설립한 PinkLAB을 간단히 소개하려고 합니다. PinkLAB 홈페이지 - https:\/\/www.pinklab.art... ",
			"bloggername":"PinkWink",
			"bloggerlink":"https:\/\/pinkwink.kr\/",
			"postdate":"20220606"
		},
		{
			"title":"<b>PinkWink<\/b> darknet_ros, jetpack4.5.1에서 빌드 실패",
			"link":"https:\/\/blog.naver.com\/zeta0807\/222461538224",
			"description":"site\/BLDC-fbd4f8bd75424563b074d8adb3c858fa https:\/\/<b>pinkwink<\/b>.kr\/1342을 참고하면 Jetson Nano... darknet_ros 다운로드 아래 명령어로 <b>PinkWink<\/b> darknet_ros를 내려받았다. git clone... ",
			"bloggername":"제타의 AIoT 나들이",
			"bloggerlink":"blog.naver.com\/zeta0807",
			"postdate":"20210808"
		},
		{
			"title":"<b>PinkWink<\/b> 블로그에서 온 선물..",
			"link":"https:\/\/blog.naver.com\/chandong83\/221531853244",
			"description":"국내 최고 아이티 블로그인 <b>PinkWink<\/b> 블로거이신 민형기 박사님께서 선물을 보내주셨다~ 크.. 이런 영광이!!!! 잘 쓰겠습니다~ 박사님!!! 나도 나중에 블로그 잘 운영해서 이런 선물도 나눠줘 보고 싶다~~ㅋ 요즘... ",
			"bloggername":"하이! 제니스",
			"bloggerlink":"blog.naver.com\/chandong83",
			"postdate":"20190507"
		},
		{
			"title":"<b>PinkWink<\/b>님의 DC모터 시정수 구하기.",
			"link":"https:\/\/blog.naver.com\/hjh2578\/222172280836",
			"description":"현재 밸런싱 봇 제작에 난항을 겪고 있어 해당 시정수를 측정하기 위한 방법을 구글링 해두었음 https:\/\/<b>pinkwink<\/b>.kr\/336 현재 갖고 있는 밸런싱봇에는 MCP4922라는 DA컨버터를 별도로 설계하여... ",
			"bloggername":"닥현의 회로연구",
			"bloggerlink":"blog.naver.com\/hjh2578",
			"postdate":"20201213"
		},
		{
			"title":"<b>PinkWink<\/b>가 좋아하는 전자기기들을 소개합니다 ~~ ^^",
			"link":"https:\/\/pinkwink.tistory.com\/701",
			"description":"그리고 저 <b>PinkWink<\/b>도 이제 마흔이 되었답니다.ㅠㅠ. 에휴.. 마흔... 뭐 한국 나이는 두 종류이고.. 아직... 저 <b>PinkWink<\/b>가 2012년 가을에 결혼을 했었는데요..[바로가기] 늦은 결혼이었지요^^ 그때 저는 신혼여행에서... ",
			"bloggername":"PinkWink",
			"bloggerlink":"https:\/\/pinkwink.tistory.com\/",
			"postdate":"20150612"
		},
		{
			"title":"자료 주소, <b>PinkWink<\/b>, DataScience; 시카고 샌드위치 맛집 주소",
			"link":"https:\/\/blog.naver.com\/doitnow-company\/222090851064",
			"description":"책(파이썬으로 데이터 주무르기) 내용 자료 주소, <b>PinkWink<\/b>, DataScience #3장 #시카고 #샌드위치 #맛집 #분석 #주소 - 교재 발간당시와 현재의 웹페이지가 바뀌어서, 교재에... ",
			"bloggername":"날마다 성장하는 즐거움",
			"bloggerlink":"blog.naver.com\/doitnow-company",
			"postdate":"20200916"
		},
		{
			"title":"[공유] <b>PinkWink<\/b> :: 저역통과필터와 고역통과필터를 C로 구현",
			"link":"https:\/\/blog.naver.com\/kangusreport\/221870399107",
			"description":"<b>PinkWink<\/b> :: 저역통과필터와 고역통과필터를 C로 구현",
			"bloggername":"Dex Note",
			"bloggerlink":"blog.naver.com\/kangusreport",
			"postdate":"20200324"
		},
		{
			"title":"[공유] <b>PinkWink<\/b> :: Python에서 OpenCV를 이용해서... ",
			"link":"https:\/\/blog.naver.com\/hersheythings\/222221161855",
			"description":"<b>PinkWink<\/b> :: Python에서 OpenCV를 이용해서 초간편하게 사람 얼굴, 몸을 인식하기",
			"bloggername":"Capital and Freedom",
			"bloggerlink":"blog.naver.com\/hersheythings",
			"postdate":"20210127"
		},
		{
			"title":"<b>PinkWink<\/b>님의 미바뤼 돌촬영 후기 :)",
			"link":"https:\/\/blog.naver.com\/creta01\/220191244266",
			"description":"원본출처 : <b>PinkWink<\/b>님 블로그 :) http:\/\/<b>pinkwink<\/b>.kr\/678",
			"bloggername":"A moment in life",
			"bloggerlink":"blog.naver.com\/creta01",
			"postdate":"20141125"
		},
		{
			"title":"http:\/\/<b>pinkwink<\/b>.kr\/218",
			"link":"https:\/\/blog.naver.com\/2danzee\/220548423642",
			"description":"http:\/\/<b>pinkwink<\/b>.kr\/218",
			"bloggername":"2danzee님의블로그",
			"bloggerlink":"blog.naver.com\/2danzee",
			"postdate":"20151124"
		}
	]
}

# for 문

In [8]:
for n in [1, 2, 3, 4, 5]:
    print(n**2)

1
4
9
16
25

In [9]:
[n**2 for n in range(1,6)]

[1, 4, 9, 16, 25]

# 함수

In [10]:
def get_square(n):
    return n**2

In [11]:
[get_square(n) for n in [1, 2, 3, 4]]

[1, 4, 9, 16]

# dataframe.concat()

* oncat(): 데이터의 속성 형태가 동일한 데이터셋(homogeneously-typed objects)끼리 합칠 때

In [12]:
df1 = pd.DataFrame([[1, 2, 3],['a1', 'b1', 'c1']], columns=list('ABC'))
df1

    A   B   C
0   1   2   3
1  a1  b1  c1

In [13]:
df2 = pd.DataFrame([[4, 5, 6],['a2', 'b2', 'c2']], columns=list('ABC'))
df2

    A   B   C
0   4   5   6
1  a2  b2  c2

In [14]:
pd.concat([df1, df2]) # dataframe을 합침

    A   B   C
0   1   2   3
1  a1  b1  c1
0   4   5   6
1  a2  b2  c2

# 네이버 책 검색에서 정보 가져오기

In [15]:
def create_url(api_node, search_text, start_num, disp_num):
    base = "https://openapi.naver.com/v1/search"
    node = "/" + api_node
    param_query = "?query=" + urllib.parse.quote(search_text)
    param_start = "&start=" + str(start_num)
    param_disp = "&display=" + str(disp_num)
    
    return base + node + param_query + param_start + param_disp

In [16]:
create_url("book", "TEST", 1, 10)

'https://openapi.naver.com/v1/search/book?query=TEST&start=1&display=10'

In [17]:
import json

client_id = 'REP1TZBeRylwIL5uzjqy'
client_secret = 'aXWw3fsfEF'

url = create_url("book", "파이썬", 1, 3)

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)

response = urllib.request.urlopen(request)

result = json.loads(response.read().decode("utf-8"))
result

{'lastBuildDate': 'Thu, 19 Jan 2023 21:33:59 +0900',
 'total': 822,
 'start': 1,
 'display': 3,
 'items': [{'title': '혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)',
   'link': 'https://search.shopping.naver.com/book/catalog/32507605957',
   'image': 'https://shopping-phinf.pstatic.net/main_3250760/32507605957.20221019133018.jpg',
   'author': '윤인성',
   'discount': '19800',
   'publisher': '한빛미디어',
   'pubdate': '20220601',
   'isbn': '9791162245651',
   'description': '『혼자 공부하는 파이썬』이 더욱 흥미있고 알찬 내용으로 개정되었습니다. 프로그래밍이 정말 처음인 입문자도 따라갈 수 있는 친절한 설명과 단계별 학습은 그대로! 혼자 공부하더라도 체계적으로 계획을 세워 학습할 수 있도록 ‘혼공 계획표’를 새롭게 추가했습니다. 또한 입문자가 자주 물어보는 질문과 오류 해결 방법을 적재적소에 배치하여 예상치 못한 문제에 부딪혀도 좌절하지 않고 끝까지 완독할 수 있도록 도와줍니다. 단순한 문법 암기와 코딩 따라하기에 지쳤다면, 새로운 혼공파와 함께 ‘누적 예제’와 ‘도전 문제’로 프로그래밍의 신세계를 경험해 보세요! 배운 내용을 씹고 뜯고 맛보고 즐기다 보면 응용력은 물론 알고리즘 사고력까지 키워 코딩 실력이 쑥쑥 성장할 것입니다.\n\n혼자 해도 충분하다! 1:1 과외하듯 배우는 파이썬 프로그래밍 자습서\n이 책은 독학으로 파이썬을 배우는 입문자가 ‘꼭 필요한 내용을 제대로 학습’할 수 있도록 구성했습니다. 뭘 모르는지조차 모르는 입문자의 막연한 마음에 십분 공감하여 과외 선생님이 알려주듯 친절하게, 핵심적인 내용만 콕콕 집어줍니다. 책의 첫 페이지를 펼쳐서 마지막 페이지를 덮을 때까지, 혼자서도 충분히 파이썬을 배울 수 있다는 자신감과 확신이 계속될 것입니다!\n\n베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n베타리더와 함께 입문자에게 맞는 난이도, 분량, 학습 요소 등을 적극 반영했습니다. 어려운 용어와 개념은 한 번 더 풀어쓰고, 복잡한 설명은 눈에 잘 들어오는 그림으로 풀어냈습니다. ‘혼자 공부해 본’ 여러 입문자의 초심과 눈높이가 책 곳곳에 반영된 것이 이 책의 가장 큰 장점입니다.'},
  {'title': '파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, GUI 프로그램, 게임)',
   'link': 'https://search.shopping.naver.com/book/catalog/32472041705',
   'image': 'https://shopping-phinf.pstatic.net/main_3247204/32472041705.20221019105332.jpg',
   'author': '장문철',
   'discount': '16920',
   'publisher': '앤써북',
   'pubdate': '20220228',
   'isbn': '9791185553931',
   'description': '이 책은 내 업무와 생활에 바로 적용할 수 있는 40개의 프로그램을 직접 코딩해서 만들어보고, 동시에 파이썬을 자연스럽게 이해할 수 있게 구성하였다!\n\n파이썬 기초 문법 떼고 자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, GUI 프로그램, 게임, 인공지능 관련 40개 프로그램 직접 파이썬 코딩하며 만들어 본다.  \n\n이 책은 파이썬 기초 문법을 익힌 후 총 40개의 주제별 프로그램을 직접 코딩하며 만들어볼 수 있도록 구성하였다.'},
  {'title': 'Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생의 필독서!)',
   'link': 'https://search.shopping.naver.com/book/catalog/33938438618',
   'image': 'https://shopping-phinf.pstatic.net/main_3393843/33938438618.20230117163208.jpg',
   'author': '김종관',
   'discount': '28800',
   'publisher': '이지스퍼블리싱',
   'pubdate': '20220816',
   'isbn': '9791163033936',
   'description': '기출 유형 분석부터 문제 풀이 비법까지\n코딩 테스트를 처음 준비하는 IT 기업 취준생의 필독서!\n\n“코딩 테스트를 제대로 준비하려면 어떤 문제를 얼마나 풀어야 할까?” 곧 코딩 테스트를 앞둔 취업 또는 이직 준비생이라면 누구나 이런 고민을 할 것이다. 《Do it! 알고리즘 코딩 테스트 - 파이썬 편》에 그 답이 있다. 네이버, 카카오, 삼성, 라인 등 주요 IT 기업의 시험에 나오는 알고리즘 내용이 모두 담겨 있어 책 한 권만으로 코딩 테스트 합격에 필요한 지식을 충분히 공부할 수 있다. 책에 수록된 알고리즘 문제 100개는 모두 최신 기출 유형을 반영하고 있어서 이 책의 문제만 다 풀면 당장 코딩 테스트를 볼 수 있는 수준까지 실력을 갖출 수 있다. 모든 문제는 ‘분석, 전략, 슈도코드, 코드 구현’까지 총 4단계를 거쳐 푸는데, 이렇게 문제를 푸는 습관까지 자기 것으로 만든다면 진짜 시험에서 어떤 문제를 만나든 실수 없이 해결할 수 있을 것이다.'}]}

In [18]:
result['display']

3

In [19]:
result['items']

[{'title': '혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)',
  'link': 'https://search.shopping.naver.com/book/catalog/32507605957',
  'image': 'https://shopping-phinf.pstatic.net/main_3250760/32507605957.20221019133018.jpg',
  'author': '윤인성',
  'discount': '19800',
  'publisher': '한빛미디어',
  'pubdate': '20220601',
  'isbn': '9791162245651',
  'description': '『혼자 공부하는 파이썬』이 더욱 흥미있고 알찬 내용으로 개정되었습니다. 프로그래밍이 정말 처음인 입문자도 따라갈 수 있는 친절한 설명과 단계별 학습은 그대로! 혼자 공부하더라도 체계적으로 계획을 세워 학습할 수 있도록 ‘혼공 계획표’를 새롭게 추가했습니다. 또한 입문자가 자주 물어보는 질문과 오류 해결 방법을 적재적소에 배치하여 예상치 못한 문제에 부딪혀도 좌절하지 않고 끝까지 완독할 수 있도록 도와줍니다. 단순한 문법 암기와 코딩 따라하기에 지쳤다면, 새로운 혼공파와 함께 ‘누적 예제’와 ‘도전 문제’로 프로그래밍의 신세계를 경험해 보세요! 배운 내용을 씹고 뜯고 맛보고 즐기다 보면 응용력은 물론 알고리즘 사고력까지 키워 코딩 실력이 쑥쑥 성장할 것입니다.\n\n혼자 해도 충분하다! 1:1 과외하듯 배우는 파이썬 프로그래밍 자습서\n이 책은 독학으로 파이썬을 배우는 입문자가 ‘꼭 필요한 내용을 제대로 학습’할 수 있도록 구성했습니다. 뭘 모르는지조차 모르는 입문자의 막연한 마음에 십분 공감하여 과외 선생님이 알려주듯 친절하게, 핵심적인 내용만 콕콕 집어줍니다. 책의 첫 페이지를 펼쳐서 마지막 페이지를 덮을 때까지, 혼자서도 충분히 파이썬을 배울 수 있다는 자신감과 확신이 계속될 것입니다!\n\n베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n베타리더와 함께 입문자에게 맞는 난이도, 분량, 학습 요소 등을 적극 반영했습니다. 어려운 용어와 개념은 한 번 더 풀어쓰고, 복잡한 설명은 눈에 잘 들어오는 그림으로 풀어냈습니다. ‘혼자 공부해 본’ 여러 입문자의 초심과 눈높이가 책 곳곳에 반영된 것이 이 책의 가장 큰 장점입니다.'},
 {'title': '파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, GUI 프로그램, 게임)',
  'link': 'https://search.shopping.naver.com/book/catalog/32472041705',
  'image': 'https://shopping-phinf.pstatic.net/main_3247204/32472041705.20221019105332.jpg',
  'author': '장문철',
  'discount': '16920',
  'publisher': '앤써북',
  'pubdate': '20220228',
  'isbn': '9791185553931',
  'description': '이 책은 내 업무와 생활에 바로 적용할 수 있는 40개의 프로그램을 직접 코딩해서 만들어보고, 동시에 파이썬을 자연스럽게 이해할 수 있게 구성하였다!\n\n파이썬 기초 문법 떼고 자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, GUI 프로그램, 게임, 인공지능 관련 40개 프로그램 직접 파이썬 코딩하며 만들어 본다.  \n\n이 책은 파이썬 기초 문법을 익힌 후 총 40개의 주제별 프로그램을 직접 코딩하며 만들어볼 수 있도록 구성하였다.'},
 {'title': 'Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생의 필독서!)',
  'link': 'https://search.shopping.naver.com/book/catalog/33938438618',
  'image': 'https://shopping-phinf.pstatic.net/main_3393843/33938438618.20230117163208.jpg',
  'author': '김종관',
  'discount': '28800',
  'publisher': '이지스퍼블리싱',
  'pubdate': '20220816',
  'isbn': '9791163033936',
  'description': '기출 유형 분석부터 문제 풀이 비법까지\n코딩 테스트를 처음 준비하는 IT 기업 취준생의 필독서!\n\n“코딩 테스트를 제대로 준비하려면 어떤 문제를 얼마나 풀어야 할까?” 곧 코딩 테스트를 앞둔 취업 또는 이직 준비생이라면 누구나 이런 고민을 할 것이다. 《Do it! 알고리즘 코딩 테스트 - 파이썬 편》에 그 답이 있다. 네이버, 카카오, 삼성, 라인 등 주요 IT 기업의 시험에 나오는 알고리즘 내용이 모두 담겨 있어 책 한 권만으로 코딩 테스트 합격에 필요한 지식을 충분히 공부할 수 있다. 책에 수록된 알고리즘 문제 100개는 모두 최신 기출 유형을 반영하고 있어서 이 책의 문제만 다 풀면 당장 코딩 테스트를 볼 수 있는 수준까지 실력을 갖출 수 있다. 모든 문제는 ‘분석, 전략, 슈도코드, 코드 구현’까지 총 4단계를 거쳐 푸는데, 이렇게 문제를 푸는 습관까지 자기 것으로 만든다면 진짜 시험에서 어떤 문제를 만나든 실수 없이 해결할 수 있을 것이다.'}]

In [20]:
len(result['items'])

3

In [21]:
result['items'][0]

{'title': '혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)',
 'link': 'https://search.shopping.naver.com/book/catalog/32507605957',
 'image': 'https://shopping-phinf.pstatic.net/main_3250760/32507605957.20221019133018.jpg',
 'author': '윤인성',
 'discount': '19800',
 'publisher': '한빛미디어',
 'pubdate': '20220601',
 'isbn': '9791162245651',
 'description': '『혼자 공부하는 파이썬』이 더욱 흥미있고 알찬 내용으로 개정되었습니다. 프로그래밍이 정말 처음인 입문자도 따라갈 수 있는 친절한 설명과 단계별 학습은 그대로! 혼자 공부하더라도 체계적으로 계획을 세워 학습할 수 있도록 ‘혼공 계획표’를 새롭게 추가했습니다. 또한 입문자가 자주 물어보는 질문과 오류 해결 방법을 적재적소에 배치하여 예상치 못한 문제에 부딪혀도 좌절하지 않고 끝까지 완독할 수 있도록 도와줍니다. 단순한 문법 암기와 코딩 따라하기에 지쳤다면, 새로운 혼공파와 함께 ‘누적 예제’와 ‘도전 문제’로 프로그래밍의 신세계를 경험해 보세요! 배운 내용을 씹고 뜯고 맛보고 즐기다 보면 응용력은 물론 알고리즘 사고력까지 키워 코딩 실력이 쑥쑥 성장할 것입니다.\n\n혼자 해도 충분하다! 1:1 과외하듯 배우는 파이썬 프로그래밍 자습서\n이 책은 독학으로 파이썬을 배우는 입문자가 ‘꼭 필요한 내용을 제대로 학습’할 수 있도록 구성했습니다. 뭘 모르는지조차 모르는 입문자의 막연한 마음에 십분 공감하여 과외 선생님이 알려주듯 친절하게, 핵심적인 내용만 콕콕 집어줍니다. 책의 첫 페이지를 펼쳐서 마지막 페이지를 덮을 때까지, 혼자서도 충분히 파이썬을 배울 수 있다는 자신감과 확신이 계속될 것입니다!\n\n베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n베타리더와 함께 입문자에게 맞는 난이도, 분량, 학습 요소 등을 적극 반영했습니다. 어려운 용어와 개념은 한 번 더 풀어쓰고, 복잡한 설명은 눈에 잘 들어오는 그림으로 풀어냈습니다. ‘혼자 공부해 본’ 여러 입문자의 초심과 눈높이가 책 곳곳에 반영된 것이 이 책의 가장 큰 장점입니다.'}

In [22]:
titles = [result['items'][n]['title'] for n in range(3)]
titles

['혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)',
 '파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, GUI 프로그램, 게임)',
 'Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생의 필독서!)']

In [23]:
authors = [result['items'][n]['author'] for n in range(3)]
authors

['윤인성', '장문철', '김종관']

In [24]:
pubdates = [result['items'][n]['pubdate'] for n in range(3)]
pubdates

['20220601', '20220228', '20220816']

In [25]:
pd.DataFrame({'책제목': titles, '작가': authors, '출판일': pubdates})

                                                 책제목   작가       출판일
0               혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)  윤인성  20220601
1  파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, G...  장문철  20220228
2  Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생...  김종관  20220816

# 책 검색해서 dataframe로 만들기 함수

In [26]:
# 네이버 api 를 이용한 url을 입력 받아서 도서 정보를 dataframe로 반환
def get_dataframe(url):
    client_id = 'REP1TZBeRylwIL5uzjqy'
    client_secret = 'aXWw3fsfEF'

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)

    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode("utf-8"))
    
    end_num = result['display']
    
    titles = [result['items'][n]['title'] for n in range(end_num)]
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    return pd.DataFrame({"책제목": titles, "저자": authors, "출판일": pubdates})

In [27]:
get_dataframe(url)

                                                 책제목   저자       출판일
0               혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)  윤인성  20220601
1  파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, G...  장문철  20220228
2  Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생...  김종관  20220816

In [28]:
def delete_tag(input_str):
    input_str = input_str.replace('<b>','')
    input_str = input_str.replace('</b>','')
    return input_str

# 책 검색해서 dataframe로 만들기 함수(완성형)

In [29]:
def get_dataframe(url):
    client_id = 'REP1TZBeRylwIL5uzjqy'
    client_secret = 'aXWw3fsfEF'

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)

    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode("utf-8"))
    
    end_num = result['display']
    
    titles = [delete_tag(result['items'][n]['title']) for n in range(end_num)]
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    return pd.DataFrame({"책제목": titles, "저자": authors, "출판일": pubdates})

In [30]:
get_dataframe(url)

                                                 책제목   저자       출판일
0               혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)  윤인성  20220601
1  파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, G...  장문철  20220228
2  Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생...  김종관  20220816

In [31]:
[n for n in range(1, 300, 100)]

[1, 101, 201]

# 100 개씩 300개 가져오기

In [32]:
result_search = []

for n in range(1, 300, 100):
    url = create_url('book', '파이썬', n, 100)
    result_search.append(get_dataframe(url))

result_search = pd.concat(result_search)  # dataframe을 병합

In [33]:
result_search.head()

                                                 책제목       저자       출판일
0               혼자 공부하는 파이썬 (1:1 과외하듯 배우는 프로그래밍 자습서)      윤인성  20220601
1  파이썬과 40개의 작품들 (자동화, 크롤링, 이미지처리, 데이터분석, 웹페이지, G...      장문철  20220228
2  Do it! 알고리즘 코딩 테스트: 파이썬 편 (코딩 테스트를 처음 준비하는 취준생...      김종관  20220816
3                      모두의 파이썬 (20일 만에 배우는 프로그래밍 기초)      이승찬  20181009
4                       파이썬 무작정 따라하기 (미래의 프로그래머를 위한)  서승희^송석리  20211220

In [34]:
result_search.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     300 non-null    object
 1   저자      300 non-null    object
 2   출판일     300 non-null    object
dtypes: object(3)
memory usage: 9.4+ KB

* 위에 Int64Index: 300 entries, 0 to 99 에 보면 index 가 0 to 99이다. 
* 각 반복문마다 index 가 매겨져서 0~99 가 3번 있다.

In [35]:
# index 재정렬
result_search = result_search.reset_index(drop=True)
result_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     300 non-null    object
 1   저자      300 non-null    object
 2   출판일     300 non-null    object
dtypes: object(3)
memory usage: 7.2+ KB

# 엑셀에 양식을 설정하여 저장하기

* [xlsxwriter 사용법](https://xlsxwriter.readthedocs.io/)

In [36]:
# 엑셀에 양식을 설정하여 저장
writer = pd.ExcelWriter('./data/python_book_info.xlsx', engine='xlsxwriter')
result_search.to_excel(writer, sheet_name='Sheet1')

workbook = writer.book
worksheet = writer.sheets['Sheet1']

format_center = workbook.add_format({'text_wrap': True})  # 자동 줄바꿈
format_center.set_align('center')
format_center.set_align('vcenter')

worksheet.set_column('A:A', 5)
worksheet.set_column('B:B', 90, format_center)
worksheet.set_column('C:C', 40, format_center)
worksheet.set_column('D:D', 15)

writer.save()

In [37]:
result_search.to_excel('./data/p.xlsx', sheet_name='Sheet1')